@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

@font-face {
  font-family: "Antapani";
  src: url("/Antapani-ExtraLight.ttf") format("truetype");
}

body {
  font-family: "Antapani";
}

#Home {
  display: flex;
  flex-direction: row;
}

#Aside {
  width: 100px;
  height: 100vh;
  background-color: #3d132f;
  text-align: center;
}

#Aside > img {
  width: 80px;
  height: 80px;
}

#Aside ul {
  list-style: none;
}

#Aside .AsideNav {
  padding: 0 !important;
  margin: 10px 20px;
}

#Aside .AsideNav_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

#Aside .AsideNav_item:hover > .AsideNav_item-text {
  display: block;
}

#Aside .AsideNav_item:hover {
  background-color: #8d4886;
  width: 300px;
  position: relative;
  z-index: 100000;
  transition: 0.1s ease-in-out;
}

#Aside .AsideNav_item-icon {
  width: 30px;
  height: 30px;
}

#Aside .AsideNav_item-text {
  text-decoration: none;
  width: 300px;
  display: none;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 0 !important;
  font-family: "Antapani" sans-serif;
}

.ContentMain {
  width: 100%;
  position: relative;
}

#Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding-right: 20px;
}

#Header .CasaLucciLogo {
  margin-left: 50px;
  width: 200px;
}

#Header .CasaLucciLogo img {
  width: 100%;
}

#Header .HeaderItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#Header .HeaderDropdown button {
  background-color: transparent !important;
  border: 0 !important;
  color: #000 !important;
  font-weight: bold;
  font-family: "Antapani" sans-serif;
}

#Header .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
  margin-top: -5px;
  margin-left: -5px;
  content: "";
  background: url("../assets/arow-down.png");
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 0 !important;
}

#Header .HeaderAccount img {
  width: 50px;
  height: 50px;
}

#Carousel .carousel-item {
  height: 90vh;
  width: 100%;
}

#Carousel .carousel-item:nth-child(1) {
  background: url("../assets/carousel1.jpg") center center no-repeat;
  background-size: cover;
}

#Carousel .carousel-item:nth-child(2) {
  background: url("../assets/carousel2.jpg") center center no-repeat;
  background-size: cover;
}
#Carousel .carousel-item:nth-child(3) {
  background: url("../assets/carousel3.jpg") center center no-repeat;
  background-size: cover;
}
#Carousel .carousel-caption {
  position: absolute;
  right: 10%;
  bottom: 0;
  left: 10%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: start;
  height: 100%;
}

#Carousel .carousel-caption h5 {
  text-transform: uppercase;
  font-size: 100px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 1 !important;
}

.accordion {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 90vh;
  background-color: transparent;
  border: 0 !important;
}
.accordion-item {
  border: 0 !important;
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
}

.accordion-collapse {
  background: #fff;
  position: absolute;
  z-index: 10;
  overflow-y: auto;
}

.accordion-body {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.collapsing {
  transition: none !important;
}

.collapse {
  width: 100%;
  height: 100%;
}

#CadastroDeClientesForm .CadastroDeClientesFormTitle {
  text-align: center;
  margin-bottom: 20px;
}

#CadastroDeClientesForm .CadastroDeClientesFormRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin: 20px 100px;
}

#CadastroDeClientesForm .CadastroDeClientesFormField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

#CadastroDeClientesForm .nomeCompleto,
#CadastroDeClientesForm .tipoDoEvento {
  width: 70%;
}

#CadastroDeClientesForm .dataNascimento,
#CadastroDeClientesForm .cpf,
#CadastroDeClientesForm .rg,
#CadastroDeClientesForm .tel {
  width: 30%;
}

#CadastroDeClientesForm .enderecoCompleto {
  width: 80%;
}

#CadastroDeClientesForm .number {
  width: 20%;
}

#CadastroDeClientesForm .cidade {
  width: 40%;
}
#CadastroDeClientesForm .uf {
  width: 30%;
}
#CadastroDeClientesForm .cep {
  width: 30%;
}

#CadastroDeClientesForm .CadastroDeClientesFormLabel {
  font-size: 24px;
}

#CadastroDeClientesForm .CadastroDeClientesFormInput[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
#CadastroDeClientesForm
  .CadastroDeClientesFormInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#CadastroDeClientesForm .CadastroDeClientesFormInput,
#CadastroDeClientesForm .CadastroDeClientesFormSelect {
  border: 0;
  border-bottom: 2px solid #000;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

#CadastroDeClientesForm .CadastroDeClientesFormInput:focus,
#CadastroDeClientesForm .CadastroDeClientesFormSelect:focus {
  outline: 0;
}

#CasasLocacao {
  text-align: center;
}

#CasasLocacao .CasasLocacaoSubtitle {
  font-family: "Dancing Script", cursive;
}

#CasasLocacao .CasasLocacaoImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#CasasLocacao .CasasLocacaoImagesBox {
  position: relative;
  margin-bottom: 15px;
  max-width: 500px;
  height: 333.13px;
}

#CasasLocacao .CasasLocacaoImagesBox img {
  width: 100%;
  object-fit: cover;
}
#CasasLocacao .CasasLocacaoImagesBox:hover > img {
  position: relative;
  z-index: 100;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

#CasasLocacao .CasasLocacaoImagesBox_desc {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
  margin-bottom: 0 !important;
}

.InvestimentosTitle {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
}

.InvestimentosGeneralInfos {
  background-color: #f7f7f7;
  padding: 30px;

  display: flex;
  align-content: center;
  justify-content: space-between;
}

.InvestimentosGeneralInfoLogo {
  width: 300px;
}

.GeneralInfos_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.GeneralInfos_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.GeneralInfos_items-title {
  font-weight: bold;
  margin-bottom: 0 !important;
}

.GeneralInfos_items-value {
  background-color: #fff;
  border: 1px solid #8c4887;
  vertical-align: middle;
  border-radius: 10px;
  margin-bottom: 0 !important;
  padding: 5px 10px;
  font-weight: bold;
  color: #999999;
}

.DadosClienteEventoTitle {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #8c4887;
  color: #8c4887;
  font-weight: bold;
  padding-bottom: 40px;
  margin-top: 80px;
}

.DadosClienteEventoInfosRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 20px;
}

.DadosClienteEventoInfos_label {
  font-weight: bold;
  color: #000;
  width: 50%;
  text-align: end;
}

.DadosClienteEventoInfosField {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.DadosClienteEventoInfos_falseInput {
  width: 100%;
  height: 60px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;

  position: relative;
}
.DadosClienteEventoInfos_falseInput p {
  margin-bottom: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.anfitrioes {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.anfitrioes .DadosClienteEventoInfos_label {
  width: 10%;
}

.dataEvento,
.numConvidados,
.codProposta {
  width: 30%;
}

.horaEvento {
  width: 40%;
}

.espacoEscolhido {
  width: 60%;
}

.TablePrices table {
  width: 100%;
}

.TablePricesTitles {
  background-color: #3d132f;
  color: #fff;
  font-weight: bold;
}

.TablePricesTitles tr td {
  padding: 10px 50px;
  font-size: 30px;
  text-align: center;
}

.TablePrices tbody tr {
  font-size: 30px;
}

.TablePrices tbody tr {
  font-size: 30px;
}
.TablePrices tbody tr td:nth-child(2) {
  text-align: center;
  font-weight: bold;
}

.column-1 {
  width: 70%;
}

.column-2 {
  width: 30%;
}

.TablePricesBlack {
  color: #000;
  font-weight: bold;
  padding-left: 40px;
  font-size: 30px;
}

.TablePricesPurple {
  color: #8c4887;
  font-weight: bold;
  font-size: 30px;
  padding-left: 40px;
}
.TablePricesPurple ~ td {
  color: gray;
}

.TablePricesFooter{
  width: 100%;
}

.TablePricesFooter .row-1 {
  background-color: #3d132f;
  color: #fff;
  padding: 10px 50px;

}
.TablePricesFootert .row-2 {
  background-color: #8c4887;
  color: #fff;
  padding: 10px 50px;


}

@media screen and (min-width: 768px) {
  .HeaderDropdown button {
    font-size: 24px;
  }
}
