#Home {
  display: flex;
  flex-direction: row;
}

#Aside {
  width: 80px;
  height: 100vh;
  background-color: #3d132f;
}

#Aside img {
  width: 100%;
  height: 80px;
}

.ContentMain {
  width: 100%;
}

#Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

#Header .CasaLucciLogo {
  margin-left: 50px;
}

#Header .HeaderItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Header .HeaderDropdown button {
  background-color: transparent !important;
  border: 0 !important;
  color: #000 !important;
  font-weight: bold;
}

#Header .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "⌄";
  border: 0 !important;
}

#Header .HeaderAccount img {
  width: 50px;
  height: 50px;
}

#Carousel .carousel-item {
  height: 90vh;
  width: 100%;
}

#Carousel .carousel-item:nth-child(1) {
  background: url("../assets/casa-lucci-bg-home-slider-1.png") center center
    no-repeat;
  background-size: cover;
}

#Carousel .carousel-item:nth-child(2) {
  background: url("../assets/casa-lucci-bg-home-2.jpg") center center no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .HeaderDropdown button {
    font-size: 24px;
  }
}
